/*Aca van todos los colores de la app*/
//Botones
$primary-color: rgb(0, 173, 9);
$primary-color-hover: rgb(72, 72, 72); 
//Fuentes
$font-light: rgb(231, 231, 231);
$font-grey: rgb(72, 72, 72);
$font-dark: rgb(0, 0, 0);
//Fondos
$background-light: rgb(231, 231, 231);
$background-grey: rgb(72, 72, 72);
$background-grey-dark: rgb(10, 10, 10);
$background-grey-hover: rgb(60, 60, 60);
$background-black: rgb(0, 0, 0);
$background-dark: rgb(0, 0, 0);

$danger: rgb(255, 0, 0);